$font-main:  Helvetica, sans-serif
$font-color: #ccc

*
  margin: 0
  padding: 0
  border: none
  font-size: 15px

body
  color: $font-color

.container
  padding: 10px
  width: 100%
  max-width: 1180px
  margin: 0 auto

.container-full
  @extend .container
  max-width: none
  padding: 0



.header
  .top
    background-color: #2f3238
    min-height: 200px

@import "modal"
@import "menu"
@import "form"